<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="com.example.plantrack.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <provider 
            android:name="com.example.plantrack.GradesContentProvider"
            android:authorities="com.example.plantrack.contentprovider" >
        </provider>
        <activity android:name=".Planner" />
        <activity android:name=".Grades" />
        <activity android:name=".Gpa" />
        <activity android:name=".AddClassView" />
        <activity android:name=".AddItemView" />
        <activity android:name=".ListOfItems" />
        <activity android:name=".EditClass"/> 
        
        

    </application>

</manifest>
